
  <div class="row clearfix">
  <p>
    <% if todo_item.completed? %>
      <spam style="opacity: 0.4;"><strike><%= todo_item.content %></strike></spam>
      <%= link_to "✓", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>    
      <%= link_to "×", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Tem certeza?"} %>    
  </p>
  <% else %>
  <p>  
    <%= link_to "✓", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>    
    <spam><%= todo_item.content %></spam>
    <%= link_to "×", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Tem certeza?"} %>    
  </p>
    <% end %>
  </div>
