<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <div class="nav-wrapper">
    <a class="brand-logo">MyApp</a>
    <% if user_signed_in? %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>Olá, <%= current_user.name %></li>
        <li><%= link_to "Deslogar", destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    <% end %>
  </div>
</nav>
    <div class="container ">

    

      <%= yield %>
    </div>
  </body>
</html>
