<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% if user_signed_in? %>
        <p>Olá, <%= current_user.name %> - <%= link_to "Deslogar", destroy_user_session_path, :method => 'delete' %> </p>
        <br>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
